@page "/EmployeeDetails/{Id:int}"

@inject IDataFactory dataFactory
@inject NavigationManager navManager

<head>
    <PageTitle>Employee Details</PageTitle>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="employee-details-grid-container">
        <div class="employee-details-heading">
            <h3 class="page-heading">Employee Details</h3>
            <div>
                <button class="button" @onclick="(() => OpenDirectory())">Go To Directory</button>
            </div>
        </div>

        <!--Employee edit form-->

        <div>
            <AuthorizeView Context="Auth">
                <Authorized>
                <div class="employee-edit-form-container">
                    <div>
                        <h1>Edit Employee</h1>    
                    </div>
                    <div class="employee-details-form">
                        <EditForm Model="employee" OnValidSubmit="SaveEmployeeForm">
                            <DataAnnotationsValidator />
                             <ValidationSummary />
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="first-name">First Name</label>
                                <InputText class="input-box" id="first-name" @bind-Value="employee.FirstName"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="last-name">Last Name</label>
                                <InputText class="input-box" id="last-name" @bind-Value="employee.LastName" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="phone-main">Main Phone</label>
                                <InputText class="input-box" id="phone-main" @bind-Value="employee.PhoneMain" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="extension">Extension</label>
                                <InputText class="input-box" id="extension" @bind-Value="employee.Extension" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="phone-mobile">Mobile Phone</label>
                                <InputText class="input-box" id="phone-mobile" @bind-Value="employee.PhoneMobile" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="email">Email</label>
                                <InputText class="input-box" id="email" @bind-Value="employee.Email" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="department">Department</label>
                                <InputSelect class="input-select" id="department" @bind-Value="employee.Department.Name" @onchange="OnInfoChange">
                                    @foreach (var department in dataFactory.Departments)
                                    {
                                        if (department == employee.Department)
                                        {
                                            <option selected value="@department.Name">@department.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@department.Name">@department.Name</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="title">Title</label>
                                <InputSelect class="input-select" id="title" @bind-Value="employee.Title.Name" @onchange="OnInfoChange">
                                    @foreach (var title in dataFactory.Titles)
                                    {
                                        if (title == employee.Title)
                                        {
                                            <option selected value="@title.Name">@title.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@title.Name">@title.Name</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="supervisor">Supervisor</label>
                                <InputSelect class="input-select" id="supervisor" @bind-Value="employee.SupId" @onchange="OnInfoChange">
                                    @foreach (var supervisor in availableSupervisors)
                                        {
                                            <option value="@supervisor.Id">@supervisor.FirstName @supervisor.LastName (@supervisor.Title.Name)</option>
                                        }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="notes">Notes</label>
                                <InputTextArea class="input-text-area" id="notes" @bind-Value="employee.Notes"/>
                            </div>
                            <div>
                               <button type="submit" class="button">Submit</button>

                            </div>
                        </EditForm>
                    </div>
                </div>
                </Authorized>
                <NotAuthorized>
                    <div class="employee-details-form">
                        <EditForm Model="employee" OnValidSubmit="SaveEmployeeForm">
                            <DataAnnotationsValidator />
                             <ValidationSummary />
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="first-name">First Name:</label>
                                <InputText disabled class="input-box" id="first-name" @bind-Value="employee.FirstName"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="last-name">Last Name:</label>
                                <InputText disabled class="input-box" id="last-name" @bind-Value="employee.LastName" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="phone-main">Main Phone:</label>
                                <InputText disabled class="input-box" id="phone-main" @bind-Value="employee.PhoneMain" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="extension">Extension:</label>
                                <InputText disabled class="input-box" id="extension" @bind-Value="employee.Extension" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="phone-mobile">Mobile Phone:</label>
                                <InputText disabled class="input-box" id="phone-mobile" @bind-Value="employee.PhoneMobile" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="email">Email:</label>
                                <InputText disabled class="input-box" id="email" @bind-Value="employee.Email" @onchange="OnInfoChange"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="department">Department:</label>
                                <InputSelect disabled class="input-select" id="department" @bind-Value="employee.Department.Name" @onchange="OnInfoChange">
                                    @foreach (var department in dataFactory.Departments)
                                    {
                                        if (department == employee.Department)
                                        {
                                            <option selected value="@department.Name">@department.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@department.Name">@department.Name</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="title">Title:</label>
                                <InputSelect disabled class="input-select" id="title" @bind-Value="employee.Title.Name" @onchange="OnInfoChange">
                                    @foreach (var title in dataFactory.Titles)
                                    {
                                        if (title == employee.Title)
                                        {
                                            <option selected value="@title.Name">@title.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@title.Name">@title.Name</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="supervisor">Supervisor:</label>
                                <InputSelect disabled class="input-select" id="supervisor" @bind-Value="employee.SupId" @onchange="OnInfoChange">
                                    @foreach (var supervisor in availableSupervisors)
                                        {
                                            <option value="@supervisor.Id">@supervisor.FirstName @supervisor.LastName (@supervisor.Title.Name)</option>
                                        }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" id="notes-label" for="notes">Notes:</label>
                                <InputTextArea disabled class="input-text-area" id="notes" @bind-Value="employee.Notes"/>
                            </div>
                        </EditForm>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>        
    </div>
</body>
    
    


@code {
    [Parameter]
    public int Id { get; set; }

    private EmployeeModel employee;
    private List<EmployeeModel> availableSupervisors = new List<EmployeeModel>();
    private bool changesMade = false;
    private bool createNewEmployee = false;

    //new employee values
    private string firstName;
    private string lastName;
    private string phoneMain;
    private string phoneMobile;
    private string extension;
    private string notes;
    private int titleId;
    private int departmentId;
    private int supId;
    private string email;

    protected override async Task OnInitializedAsync()
    {
        var employeesList = dataFactory.Employees;


        employee = employeesList.First(e => e.Id == Id);
        availableSupervisors = PopulateAvailableSupervisors();



        await base.OnInitializedAsync();
    }

    private List<EmployeeModel> PopulateAvailableSupervisors()
    {
        var output = dataFactory.Employees;
        if(employee.Title == null)
        {
            output = output.Where(e => e.Department == employee.Department)
                                                .Where(e => e.Title?.TitleLevel >= 4)
                                                .Where(e => e.Title?.TitleLevel < 7).ToList();
        }else if(employee.Title?.TitleLevel > 4) 
        {
            output = output.Where(e => e.Department == employee.Department)
                                                .Where(e => e.Title?.TitleLevel >= 4)
                                                .Where(e => e.Title?.TitleLevel < employee.Title.TitleLevel).ToList();
        } else 
        {
            int? titleLevel = employee.Title?.TitleLevel;
            output = output.Where(e => e.Department == employee.Department)
                            .Where(e => e.Title?.TitleLevel == (employee.Title?.TitleLevel - 1)).ToList();
        }
        return output;

    }

    private void OnInfoChange()
    {
        changesMade = true;
        StateHasChanged();
    }

    private void SaveEmployeeForm()
    {
        //dataFactory.UpdateEmployeeAsync(employee);
    }

    private void NewEmployeePage()
    {
        navManager.NavigateTo($"/Create/Employee");

    }

    private void OpenSupervisorPage()
    {
        navManager.NavigateTo($"/EmployeeDetails/{employee.Supervisor.Id}", forceLoad: true);
    }

    private void OpenDirectory()
    {
        navManager.NavigateTo("/");
    }

}
