@page "/"

@inject IDataFactory dataFactory
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage

<PageTitle>Directory Home</PageTitle>
<style>
    th{
        cursor: pointer;
    }

    .employee-list-container
    {
        margin-left: 250px;
        margin-top: 10px;
        width: 50%;
         
        
    }

    .employee-list-item
    {
        
        background-color: oldlace;
        outline-color: black;
        outline-width: 3px;
        outline-style: auto;
        margin-bottom: 5px;
        border-radius: 10px;
    }

    .employee-list-item-content
    {
        margin-left: 10px;
        margin-top: 5px;
    }

    .name-text
    {
        font-size: 21px;
        font-weight: 700;
    }

    .department-name
    {
        font-weight:700;
    }

    .sort-arrow-icon
    {
    }
</style>
<h1>Employees</h1>

<div>
    <input type="text" @bind=searchText placeholder="Search employees" aria-label="Search box" 
        @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
    <button @onclick="(() => OrderByDepartment())">Order By Department</button>
</div>
<div>
    <div>@employees?.Count Employees</div>
</div>
<div>
    <h6>Sort by:</h6>
    <select id="sort-dropdown" @onchange="SortChange">
        <option disabled selected>Sort by...</option>
        @foreach (var sortValue in sortingDropdownItems)
        {
            if(sortValue.Contains("ASC"))
            {
                <option value="@sortValue">@sortValue.Replace("ASC", "") <p class="sort-arrow-icon">&#9650</p></option>
            } else if(sortValue.Contains("DESC"))
            {
                <option value="@sortValue">@sortValue.Replace("DESC", "") <p class="sort-arrow-icon">&#9660</p></option>
            }
        }
    </select>
</div>

@if (employees is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div  class="employee-list-container">
        <Virtualize Items="@employees" Context="e" OverscanCount="20">
            <div class="employee-list-item">
                <div class="employee-list-item-content">
                    <div class="name-text">@e.FirstName @e.LastName</div>
                        <div><text class="department-name">@e.Department.Name</text> @e.Title?.Name</div> 
                    <br/>
                </div>
            </div>
        </Virtualize>
    </div>
    }


@code 
{
    private List<EmployeeModel> employees;
    private List<DepartmentModel> departments;
    private List<TitleModel> titles;

    private string searchText = "";
    private string selectedDepartment = "All";
    private string selectedTitle = "All";

    //sorting values
    private string departmentOrder = "";
    private string firstNameOrder = "";
    private string lastNameOrder = "";
    private string titleOrder = "";
    private string supervisorOrder = "";

    //sorting dropdown list
    List<string> sortingDropdownItems = new List<string>();
    private string currentSort = "";

    protected override async Task OnInitializedAsync()
    {
        await dataFactory.PopulateDataAsync();
        employees = dataFactory.Employees;
        departments = dataFactory.Departments;
        titles = dataFactory.Titles;
        sortingDropdownItems = PopulateSortDropdownItems();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await LoadFilter();
            await ApplyFilter();
            StateHasChanged();
        }

    }

    private async Task LoadFilter()
    {
        var results = await sessionStorage.GetAsync<string>(nameof(searchText));
        searchText = results.Success ? results.Value : "";

        results = await sessionStorage.GetAsync<string>(nameof(selectedDepartment));
        selectedDepartment = results.Success ? results.Value : "All";

        results = await sessionStorage.GetAsync<string>(nameof(selectedTitle));
        selectedTitle = results.Success ? results.Value : "All";

        results = await sessionStorage.GetAsync<string>(nameof(departmentOrder));
        departmentOrder = results.Success ? results.Value : "";

        results = await sessionStorage.GetAsync<string>(nameof(firstNameOrder));
        firstNameOrder = results.Success ? results.Value : "";

        results = await sessionStorage.GetAsync<string>(nameof(lastNameOrder));
        lastNameOrder = results.Success ? results.Value : "";

        results = await sessionStorage.GetAsync<string>(nameof(titleOrder));
        titleOrder = results.Success ? results.Value : "";

        results = await sessionStorage.GetAsync<string>(nameof(supervisorOrder));
        supervisorOrder = results.Success ? results.Value : "";

    }

    private async Task SaveFilter()
    {
        await sessionStorage.SetAsync(nameof(searchText), searchText);
        await sessionStorage.SetAsync(nameof(selectedDepartment), selectedDepartment);
        await sessionStorage.SetAsync(nameof(selectedTitle), selectedTitle);
        await sessionStorage.SetAsync(nameof(departmentOrder), departmentOrder);
        await sessionStorage.SetAsync(nameof(firstNameOrder), firstNameOrder);
        await sessionStorage.SetAsync(nameof(lastNameOrder), lastNameOrder);
        await sessionStorage.SetAsync(nameof(titleOrder), titleOrder);
        await sessionStorage.SetAsync(nameof(supervisorOrder), supervisorOrder);
    }

    private async Task ApplyFilter()
    {
        var output = dataFactory.Employees;

        if(selectedDepartment != "All")
        {
            output = output.Where(e => e.Department?.Name == selectedDepartment).ToList();
        }

        if(selectedTitle != "All")
        {
            output = output.Where(e => e.Title?.Name == selectedTitle).ToList();
        }

        if(string.IsNullOrWhiteSpace(searchText) == false)
        {
            var stringComparison = StringComparison.InvariantCultureIgnoreCase;

            output = output.Where(e => 
                        e.FirstName.StartsWith(searchText, stringComparison) ||
                        e.LastName.StartsWith(searchText, stringComparison) ||
                        e.Extension.Contains(searchText, stringComparison) ||
                        e.PhoneMain.Contains(searchText, stringComparison) ||
                        e.PhoneMobile.Contains(searchText, stringComparison)).ToList();
        }

        switch(departmentOrder)
        {
            case "ASC":
                output = output.OrderBy(e => e.Department.Name).ToList();
                break;
            case "DESC":
                output = output.OrderByDescending(e => e.Department.Name).ToList();
                break;
            default:
                break;
        }
        switch (firstNameOrder)
        {
            case "ASC":
                output = output.OrderBy(e => e.FirstName).ToList();
                break;
            case "DESC":
                output = output.OrderByDescending(e => e.FirstName).ToList();
                break;
            default:
                break;
        }
        switch (lastNameOrder)
        {
            case "ASC":
                output = output.OrderBy(e => e.LastName).ToList();
                break;
            case "DESC":
                output = output.OrderByDescending(e => e.LastName).ToList();
                break;
            default:
                break;
        }
        switch (titleOrder)
        {
            case "ASC":
                output = output.OrderBy(e => e.Title.Name).ToList();
                break;
            case "DESC":
                output = output.OrderByDescending(e => e.Title.Name).ToList();
                break;
            default:
                break;
        }
        switch (supervisorOrder)
        {
            case "ASC":
                output = output.OrderBy(e => e.Supervisor.LastName).ToList();
                break;
            case "DESC":
                output = output.OrderByDescending(e => e.Supervisor.LastName).ToList();
                break;
            default:
                break;
        }



        employees = output;
        await SaveFilter();

    }

    private async Task OnSearchInput(string searchInput)
    {
        searchText = searchInput;
        await ApplyFilter();
    }

    private async Task OrderByDepartment()
    {
        var output = dataFactory.Employees;
        if (departmentOrder == "")
        {
            ClearOrderFilters();
        }

        switch (departmentOrder)
        {
            case "":
                employees = output.OrderBy(e => e.Department.Name).ToList();
                departmentOrder = "ASC";
                break;
            case "ASC":
                employees = output.OrderByDescending(e => e.Department.Name).ToList();
                departmentOrder = "DESC";
                break;
            case "DESC":
                employees = output.OrderBy(e => e.Department.Name).ToList();
                departmentOrder = "ASC";
                break;
            default:
                break;
        }

        await SaveFilter();
    }

    private async Task OrderByFirstName()
    {
        var output = dataFactory.Employees;
        if (firstNameOrder == "")
        {
            ClearOrderFilters();
        }

        switch (firstNameOrder)
        {
            case "":
                employees = output.OrderBy(e => e.FirstName).ToList();
                firstNameOrder = "ASC";
                break;
            case "ASC":
                employees = output.OrderByDescending(e => e.FirstName).ToList();
                firstNameOrder = "DESC";
                break;
            case "DESC":
                employees = output.OrderBy(e => e.FirstName).ToList();
                firstNameOrder = "ASC";
                break;
            default:
                break;
        }

        await SaveFilter();
    }

    private async Task OrderByLastName()
    {
        var output = dataFactory.Employees;
        if (lastNameOrder == "")
        {
            ClearOrderFilters();
        }

        switch (lastNameOrder)
        {
            case "":
                employees = output.OrderBy(e => e.LastName).ToList();
                lastNameOrder = "ASC";
                break;
            case "ASC":
                employees = output.OrderByDescending(e => e.LastName).ToList();
                lastNameOrder = "DESC";
                break;
            case "DESC":
                employees = output.OrderBy(e => e.LastName).ToList();
                lastNameOrder = "ASC";
                break;
            default:
                break;
        }

        await SaveFilter();
    }

    private async Task OrderByTitle()
    {
        var output = dataFactory.Employees;
        if (titleOrder == "")
        {
            ClearOrderFilters();
        }

        switch (titleOrder)
        {
            case "":
                employees = output.OrderBy(e => e.Title == null).ThenBy(e => e.Title != null ? e.Title.Name : null).ToList();
                titleOrder = "ASC";
                break;
            case "ASC":
                employees = output.OrderByDescending(e => e.Title == null).ThenByDescending(e => e.Title != null ? e.Title.Name : null).ToList();
                titleOrder = "DESC";
                break;
            case "DESC":
                employees = output.OrderBy(e => e.Title == null).ThenBy(e => e.Title != null ? e.Title.Name : null).ToList();
                titleOrder = "ASC";
                break;
            default:
                break;
        }

        await SaveFilter();
    }

    private async Task OrderBySupervisor()
    {
        var output = dataFactory.Employees;
        if (supervisorOrder == "")
        {
            ClearOrderFilters();
        }

        switch (supervisorOrder)
        {
            case "":
                employees = output.OrderBy(e => e.Supervisor == null).ThenBy(e => e.Supervisor != null ? e.Supervisor.LastName : null).ToList();
                supervisorOrder = "ASC";
                break;
            case "ASC":
                employees = output.OrderByDescending(e => e.Supervisor == null).ThenBy(e => e.Supervisor != null ? e.Supervisor.LastName : null).ToList();
                supervisorOrder = "DESC";
                break;
            case "DESC":
                employees = output.OrderBy(e => e.Supervisor == null).ThenBy(e => e.Supervisor != null ? e.Supervisor.LastName : null).ToList();
                supervisorOrder = "ASC";
                break;
            default:
                break;
        }

        await SaveFilter();
    }

    private void ClearOrderFilters()
    {
        departmentOrder = "";
        firstNameOrder = "";
        lastNameOrder = "";
        titleOrder = "";
        supervisorOrder = "";
    }

    private List<string> PopulateSortDropdownItems()
    {
        var output = new List<string>();
        output.Add("");
        output.Add("First Name ASC");
        output.Add("First Name DESC");
        output.Add("Last Name ASC");
        output.Add("Last Name DESC");
        output.Add("Title ASC");
        output.Add("Title DESC");
        output.Add("Department ASC");
        output.Add("Department DESC");

        return output;
    }

    private async Task OnDepartmentClick(DepartmentModel department)
    {
        selectedDepartment = department.Name;
        await ApplyFilter();
    }

    private void SortChange(ChangeEventArgs e)
    {
        currentSort = e.Value.ToString();
    }

    private void OpenEmployeeDetails(EmployeeModel employee)
    {
        navManager.NavigateTo($"/EmployeeDetails/{employee.Id}");
    }
}