@page "/"

@inject IDataFactory dataFactory
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage


<head>
    <PageTitle>Directory Home</PageTitle>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="index-grid-container">
        <!--grid col: 1 row: 1-->
        <div class="grid-item-1">
            <h1 class="page-heading">Employee Directory</h1>
            <div class="search-box-div">
                <input class="search-box" type="text" @bind=searchText placeholder="Search employees" aria-label="Search box" 
                    @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
            </div>
            <div>
                <div>@employees?.Count Employees</div>
            </div>
            <div>
                <select class="dropdown" id="sort-dropdown" @onchange="SortChange">
                    <option disabled selected>Sort by...</option>
                    @foreach (var sortValue in sortingDropdownItems)
                    {
                        if (sortValue.Contains("ASC"))
                        {
                                            <option value="@sortValue">@sortValue.Replace("ASC", "") <p class="sort-arrow-icon">&#9650</p></option>
                        }
                        else if (sortValue.Contains("DESC"))
                        {
                                            <option value="@sortValue">@sortValue.Replace("DESC", "") <p class="sort-arrow-icon">&#9660</p></option>
                        }
                    }
                </select>
            </div>
        </div >
        <!--grid col: 2 row: 1-->
        <div class="grid-item-2">
        </div>
        <!--grid col: 1 row: 2-->
        <div class="grid-item-3">
            <div class="department-filter-container">
                <h6 class="filter-heading">Departments</h6>
                <button class="button" id="department-filter-button" selected value="All" @onclick='(() => OnDepartmentClick("All"))'>All</button>
                    @foreach (var department in departments)
                        {
                                <button class="button" id="department-filter-button" @onclick="(() => OnDepartmentClick(department.Name))">@department.Name</button>
                        }
                
            </div>
            <div>
                <div class="title-filter-container">
                    <h6 class="filter-heading">Titles</h6>
                    <button class="button" id="title-filter-button" selected value="All" @onclick='(() => OnTitleClick("All"))'>All</button>
                        @foreach (var title in titles)
                        {
                            <button class="button" id="title-filter-button" @onclick="(() => OnTitleClick(title.Name))">@title.Name</button>
                        }
                </div>
            </div>
        </div>
        <!--grid col: 2 row: 2-->
        <div class="grid-item-4">
            @if (employees is null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <div  class="employee-list-container">
                    <Virtualize Items="@employees" Context="e" OverscanCount="20">
                        <div class="employee-list-item" @onclick="(() => OpenEmployeeDetails(e))">
                            <div class="employee-list-item-content">
                                <div class="employee-list-primary-info">
                                    <div class="name-text">@e.FirstName @e.LastName</div>
                                    <div><text class="department-name">@e.Department.Name </text> 
                                        @if (e.Title.Name != "Untitled")
                                        {
                                            @e.Title.Name
                                        }
                                    </div>
                                        <div>@string.Format("{0: #(###) ###-####}", Convert.ToInt64(e.PhoneMain)) x @e.Extension</div>
                                </div>
                                <div class="employee-list-secondary-info">
                                    <div class="employee-list-secondary-info-content"   >
                                        <div>Mobile: @string.Format("{0: #(###) ###-####}", Convert.ToInt64(e.PhoneMobile))</div>
                                        <div>@e.Email</div>
                                    </div>
                                </div>
                                
                            </div>
                                <hr class="employee-list-linebreak">
                        </div>
                    </Virtualize>
                </div>
            }
        </div>
    </div>
<div>

</div>
</body>

