@page "/Admin"
@attribute [Authorize]

@inject NavigationManager navManager
@inject IDataFactory dataFactory
@inject ProtectedSessionStorage sessionStorage

<head>
    <PageTitle>Admin Portal</PageTitle>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
    <div class="admin-grid-container">
        <div class="admin-heading">
            <h1 class="page-heading">Admin Portal</h1>
            <button class="button" id="admin-directory-button" @onclick="OpenDirectory">Go To Directory</button>
            <div>
                <input class="search-box" type="text" @bind=employeeSearchText placeholder="Search Employees" aria-label="Search Box"
                        @oninput="((txt) => OnSearchInput((string)txt.Value))"/>
            </div>
        </div>

        <div class="admin-departments-container">
            <div>
                <h1 class="admin-departments-heading">Departments</h1>
                @foreach (var department in departments)
                {
                    <button class="button" id="admin-department-button" value="department" 
                    @onclick="(() => OpenDepartmentDetails(department))">@department.Name</button>
                }
            </div>
        </div>

        <div class="admin-employees-container">
            <div>
                @if (employees is null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <div id="admin-employee-list-container" >
                        <Virtualize Items="@employees" Context="e" OverscanCount="20">
                                <div class="employee-list-item" @onclick="(() => OpenEmployeeDetails(e))">
                                <div class="employee-list-item-content">
                                    <div class="employee-list-primary-info">
                                        <div class="name-text">@e.FirstName @e.LastName</div>
                                        <div><text class="department-name">@e.Department.Name </text> 
                                            @if (e.Title.Name != "Untitled")
                                            {
                                                @e.Title.Name
                                            }
                                        </div>
                                            <div>@string.Format("{0: #(###) ###-####}", Convert.ToInt64(e.PhoneMain)) x @e.Extension</div>
                                    </div>
                                    <div class="employee-list-secondary-info">
                                        <div class="employee-list-secondary-info-content"   >
                                            <div>Mobile: @string.Format("{0: #(###) ###-####}", Convert.ToInt64(e.PhoneMobile))</div>
                                            <div>@e.Email</div>
                                        </div>
                                    </div>

                                </div>
                                    <hr class="employee-list-linebreak">
                            </div>
                        </Virtualize>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

