@page "/Create/Employee"
@attribute [Authorize]

@inject IDataFactory dataFactory
@inject NavigationManager navManager

@using Models;

<head>
    <PageTitle>New Employee</PageTitle>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="employee-create-grid-container">
        <div class="employee-create-heading">
            <h3 class="page-heading">Create Employee</h3>
            <button class="button" id="open-directory-button" @onclick="(() => OpenDirectory())">Go To Directory</button>
        </div>

        <div class="employee-create-form-container">
            <AuthorizeView Context="Auth">
                <Authorized>
                    <EditForm Model="newEmployee">
                            <DataAnnotationsValidator />
                             <ValidationSummary />
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="first-name">First Name</label>
                                <InputText class="input-box" id="first-name" @bind-Value="newEmployee.FirstName"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="last-name">Last Name</label>
                                <InputText class="input-box" id="last-name" @bind-Value="newEmployee.LastName"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="phone-main">Main Phone</label>
                                <InputText class="input-box" id="phone-main" @bind-Value="newEmployee.PhoneMain"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="extension">Extension</label>
                                <InputText class="input-box" id="extension" @bind-Value="newEmployee.Extension"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="phone-mobile">Mobile Phone</label>
                                <InputText class="input-box" id="phone-mobile" @bind-Value="newEmployee.PhoneMobile"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="email">Email</label>
                                <InputText class="input-box-email" id="email" @bind-Value="newEmployee.Email"/>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="department">Department</label>
                                <InputSelect class="input-select" id="department" @bind-Value="newEmployee.DepartmentId" 
                                                @onfocusout="((args) => OnInfoChange(args))">
                                    @foreach (var department in Departments)
                                    {
                                            <option value="@department.Id">@department.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="title">Title</label>
                                <InputSelect class="input-select" id="title" @bind-Value="newEmployee.TitleId" 
                                                @onfocusout="((args) => OnInfoChange(args))">
                                    @foreach (var title in Titles)
                                    {
                                                <option value="@title.Id">@title.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="supervisor">Supervisor</label>
                                <InputSelect class="input-select" id="supervisor" @bind-Value="newEmployee.SupId">
                                    @if (availableSupervisors is not null)
                                    {
                                        @foreach (var sup in availableSupervisors)
                                        {
                                                <option value="@sup.Id">@sup.FirstName @sup.LastName</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                            <div class="employee-form-item">
                                <label class="employee-form-label" for="notes">Notes</label>
                                <InputTextArea class="input-text-area" id="notes" @bind-Value="newEmployee.Notes"/>
                            </div>
                            <div>
                               <button type="submit" class="button" id="create-form-button" @onclick="SaveNewEmployee">@submitButtonText</button>

                            </div>
                        </EditForm>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</body>


